# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db
Desktop.ini

# ==========================
# Visual Studio Code
# ==========================

.vscode/

!.vscode/extensions.json
!.vscode/settings.json

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Go
# ==========================

bin/
dist/
coverage.out

# ==========================
# Node.js
# ==========================

node_modules/
.next/
out/
coverage/

# ==========================
# Environment
# ==========================

.env
.env.*

# ==========================
# Temporary Files
# ==========================

*.tmp
*.temp